p {
    max-width: 350px;
    background-color: antiquewhite;
    margin: auto;
    position: relative; /*por lo general vienen en static*/
    left: 40px; /*relative sirve para mover los elementos*/
                /*fixed sirve para que al dar scroll quede estatico*/
}
