
 .flex5{
    background-color: aqua;
    display: flex ; 
    flex-flow: row wrap;
    height: 200px;
   

}
  .red{
    background-color: red;
  }
  .primero{/*por defecto viene de 0*/
    order: 1;
  }
  .segundo{
    order: 2;
  }
  .tercero{
    order: -2
  }
  .cuarto{
    order: -5
  }
  .quinto{
    order: 3;
  }
  .sexto{
    order: 9;
  }