body{
    background-color: aliceblue;
    border-color: #ccc;
}
#cabecera{
    border: solid;
    padding: 10px;
    border-color: #ccc
}
#contenido{
    border: solid;
    padding: 10px ;
    border-color: #ccc
}
.botones{
    border: solid;
    padding: 10px;
    border-color: #ccc
}
#aceptar{
    background-color: blue;
    padding: 5px;
    border-radius: 2px;
    color: white;
}
#cancelar{
    background-color: rgb(177, 177, 185);
    padding: 5px;
    border-radius: 2px;
    color: white;  
}